@import "~bulma/sass/utilities/all"

$text: $white-ter
$text-strong: darken($text, 10)
$link: lighten($link, 5)
$link-hover: $primary
$border: $grey
$title-color: $text
$subtitle-color: $text
$label-color: $white-ter
$tabs-link-hover-color: $text-strong
$table-background-color: transparent
$table-color: $text
$body-background-color: $black-ter
$card-background-color: $grey-darker
$notification-background-color: $grey-darker

@import "~bulma/sass/base/generic"

.dark
  @import "~bulma/sass/components/all"
  @import "~bulma/sass/elements/all"
